.notePage{
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fbfbfb;
    font-size: 14px;
    border-top: 2px solid #050C9C;
    border-bottom: 2px solid #050C9C;
    grid-row: 3;
    grid-column : 2;
}

.infoPart{
    display: column;
}

.mainInfo{
    padding: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: left;  
    list-style: none;
}

.mainInfoTitle{
    flex: 1;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    color: white;
    background: url(../../Images/img00.jpg);
    background-repeat: no-repeat;   
    background-clip: border-box; 
    background-position: left;
    border: 1px solid;
    border-radius: 3px;
}

.mainInfoItem{
    flex: 2;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    border-bottom: 1px solid #050C9C;
}

.dateInfo{
    padding: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: left;
    list-style: none;
}

.dateInfoTitle{
    flex: 1;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    color: white;
    background: url(../../Images/img00.jpg);
    background-repeat: no-repeat;   
    background-clip: border-box; 
    background-position: left;
    border: 1px solid;
    border-radius: 3px;
}

.dateInfoItem{
    flex: 4;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    border-bottom: 1px solid #050C9C;
}

.contentPart{
    display: column;
}

.titleInfo{
    padding: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: left;  
    list-style: none;
}

.titleTitle{
    width: 100px;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    color: white;
    background: url(../../Images/img00.jpg);
    background-repeat: no-repeat;   
    background-clip: border-box; 
    background-position: left;
    border: 1px solid;
    border-radius: 3px;
}

.title{
    width: 100%;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    border-bottom: 1px solid #050C9C;
    overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.labelInfo{
    padding: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: left;  
    list-style: none;
}

.labelTitle{
    width: 100px;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    background: url(../../Images/img00.jpg);
    background-repeat: no-repeat;   
    background-clip: border-box; 
    background-position: left;
    border: 1px solid;
    border-radius: 3px;
    color: white;
}

.label{
    width: 100%;
    height: 15px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    border-bottom: 1px solid #050C9C;
}

.contentInfo{
    padding: 0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
}

.content{
    width: 100%;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    border: 1px solid;
    border-color: #050C9C;
}

.markdown {
    white-space: 'pre-wrap';
}